
.navbar {
	.navbar-inner { @include border-radius(0px); @include box-shadow(none);
		.container { max-width: 1170px; 
			.row { padding: 10px 0;
				.nav.primary { margin-top: 8px;
					li {
						a { padding: 10px 30px;}
						&.active {
							a { color: $primaryColor; @include box-shadow(none); background: none;}
						}
					} 
				}

				.nav.admin { margin-top: 12px; max-width: 120px;
					li {
						.divider {margin: 0;}
						a.dropdown-toggle { padding: 0 0 0 10px; line-height: 15px;}
						ul {
							li {
								a {padding: 5px 10px;}
							}
						}
					}
				}
				.input-append { margin-top: 6px;
					input[type="text"] { width: 150px; }
				}
				a.dropdown-toggle { line-height: 10px; }
			}
		}
	}
}


