#content h1:after{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7c71', endColorstr='#bb110c',GradientType=0 );}
.widget th{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 );}
.widget .link:before{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64538', endColorstr='#a20b0d',GradientType=0 );}
