// Global mixins //
@mixin border-radius($number) {
	-moz-border-radius: $number;
	-webkit-border-radius: $number;
	border-radius: $number;
}

@mixin box-shadow($number1, $number2, $number3) {
	-moz-box-shadow: $number1 $number2 $number3 #000000;
	-webkit-box-shadow: $number1 $number2 $number3 #000000;
	box-shadow: $number1 $number2 $number3 #000000;
}