// Site SASS Variables //

// Colors //
$white: #fff;
$lightGrey: #f2f2f2;
$midGrey: #e5e5e5;
$darkGrey: #333;
$primaryColor: #8c0000;
$secondaryColor: #1c1c1c;

// Header options
$headerColor1: $primaryColor;
$headerColor2: $secondaryColor;