<tfoot id="point_kickback_total" data-hook="order_details_point_kickback_total">
  <tr class="total" id="point_kickback_total-row">
    <td colspan="4"><b><%= t(:point_kickback_total) %>:</b></td>
    <td class="point-kickback-total"><span><%= @order.point_kickback_total %></span></td>
  </tr>
</tfoot>
